.joboffreCard{
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.7s;
    cursor: pointer;
}
.joboffreCard:hover{
    background: var(--col-blue-init);
    color: #fff;
    transform: scale(1.07);
}
.joboffreCard:before{
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}
.joboffreCard:hover::before{
    background: rgb(85 108 214 / 10%);
}
.joboffreCard .offreImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.joboffreCard .offreImg img {
    object-fit: contain;
    border-radius: 50%;
}
.joboffreCard .offreTitle h3{
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}
.joboffreCard .offreDescription p{
    font-size: 15px;
    margin-bottom: 15px;
}
.joboffreCard:hover .offreTitle h3,.joboffreCard:hover .offreDescription p{
    color: #fff;
}
.joboffreCard button{
    border: 0;
    border-radius: 15px;
    background: var(--col-blue-init);
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}
.joboffreCard:hover button{
    background: #fff;
    color: var(--col-blue-init);
}




  