.formSearch form{
    background: lightgray;
    border: 1px solid #ecedf2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: relative;
    padding: 20px 0;
}
.form-group{
    position: relative;
    margin: 5px 0;
}
.form-group .icon{
    color: #5c6770;
    font-size: 24px;
    left: 15px;
    line-height: 30px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 30px;
    z-index: 1;
}
.form-control, .select-header{
    border: none;
    outline: none;
    border-radius: 5px;
    color: #696969;
    display: block;
    font-size: 15px;
    font-weight: 400;
    height: 60px;
    line-height: 30px;
    padding: 15px 0 15px 35px;
    width: 100%;
}
