.cardrecruteur {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
    height: 15rem;
    width: 15rem;
    position: relative;
    transition: all 1s ease;
}
.cardrecruteur:hover {
    box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
    width: 30rem;
    cursor: pointer;
}
.cardrecruteur:hover .flip-card__container {
    transform: rotateY(-180deg);
}
.flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 15rem;
    z-index: 100;
}
.flip-card > * {
    visibility: visible;
}
.flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
}
.card-front, .card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 15rem;
}
.card-front__tp {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 11rem;
    justify-content: center;
    padding: .75rem;
    background: var(--col-blue-init);
}
.card-front__tp .textMap{
    color: var(--col-dark-light);
}
.card-front__bt .textDetail{
    color: var(--col-red);
}
.card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
    width: 50%;
    border-radius: 5px;
}
.card-back img{
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
    height: 100%;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 15rem;
    z-index: 1;
}
.cardrecruteur:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
    border-radius: 5px;
}
  